{# home/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block header_content %}
        <select name="department">
    <option value="All">Partout</option>
    <option value="75">75 - Paris</option>
    <option value="01">01 - Ain</option>
    <option value="02">02 - Aisne</option>
</select>
<select name="category">
    <option value="all">Toute catégorie</option>
    <option value="car">Voiture</option>
    <option value="house">Immobilier</option>
</select>
{% endblock %}

{% block body %}

    <a class="card online" href="#">
    <div class="vignette"></div>
    <img src="{{ asset('images/placeholder.png') }}" alt="Placeholder Image">

    <ion-icon class="favorite inFavorite" name="heart"></ion-icon>
        <div class="card-text">
            <div class="bold uppercase">Title</div>
            <div>100€ • Paris (75)</div>
        </div>
    </a>

    <a class="card" href="#">
    <div class="vignette"></div>
    <img src="{{ asset('images/placeholder.png') }}" alt="Placeholder Image">

    <ion-icon class="favorite" name="heart"></ion-icon>
        <div class="card-text">
            <div class="bold uppercase">Title</div>
            <div>100€ • Paris (75)</div>
        </div>
    </a>

    <a class="card" href="#">
    <div class="vignette"></div>
    <img src="{{ asset('images/placeholder.png') }}" alt="Placeholder Image">

    <ion-icon class="favorite" name="heart"></ion-icon>
        <div class="card-text">
            <div class="bold uppercase">Title</div>
            <div>100€ • Paris (75)</div>
        </div>
    </a>

        <a class="card" href="#">
    <div class="vignette"></div>
    <img src="{{ asset('images/placeholder.png') }}" alt="Placeholder Image">

    <ion-icon class="favorite" name="heart"></ion-icon>
        <div class="card-text">
            <div class="bold uppercase">Title</div>
            <div>100€ • Paris (75)</div>
        </div>
    </a>

        <a class="card" href="#">
    <div class="vignette"></div>
    <img src="{{ asset('images/placeholder.png') }}" alt="Placeholder Image">

    <ion-icon class="favorite" name="heart"></ion-icon>
        <div class="card-text">
            <div class="bold uppercase">Title</div>
            <div>100€ • Paris (75)</div>
        </div>
    </a>

        <a class="card" href="#">
    <div class="vignette"></div>
    <img src="{{ asset('images/placeholder.png') }}" alt="Placeholder Image">

    <ion-icon class="favorite" name="heart"></ion-icon>
        <div class="card-text">
            <div class="bold uppercase">Title</div>
            <div>100€ • Paris (75)</div>
        </div>
    </a>

        <a class="card" href="#">
    <div class="vignette"></div>
    <img src="{{ asset('images/placeholder.png') }}" alt="Placeholder Image">

    <ion-icon class="favorite" name="heart"></ion-icon>
        <div class="card-text">
            <div class="bold uppercase">Title</div>
            <div>100€ • Paris (75)</div>
        </div>
    </a>



{% endblock %}
