{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <a class="card online" href="#">
    <div class="vignette"></div>
    <img src="{{ asset('images/placeholder.png') }}" alt="Placeholder Image">

    <ion-icon class="favorite inFavorite" name="heart"></ion-icon>
        <div class="card-text">
            <div class="bold uppercase">Title</div>
            <div>100€ • Paris (75)</div>
        </div>
    </a>

    <a class="card" href="#">
    <div class="vignette"></div>
    <img src="{{ asset('images/placeholder.png') }}" alt="Placeholder Image">

    <ion-icon class="favorite" name="heart"></ion-icon>
        <div class="card-text">
            <div class="bold uppercase">Title</div>
            <div>100€ • Paris (75)</div>
        </div>
    </a>

    <a class="card" href="#">
    <div class="vignette"></div>
    <img src="{{ asset('images/placeholder.png') }}" alt="Placeholder Image">

    <ion-icon class="favorite" name="heart"></ion-icon>
        <div class="card-text">
            <div class="bold uppercase">Title</div>
            <div>100€ • Paris (75)</div>
        </div>
    </a>

        <a class="card" href="#">
    <div class="vignette"></div>
    <img src="{{ asset('images/placeholder.png') }}" alt="Placeholder Image">

    <ion-icon class="favorite" name="heart"></ion-icon>
        <div class="card-text">
            <div class="bold uppercase">Title</div>
            <div>100€ • Paris (75)</div>
        </div>
    </a>

        <a class="card" href="#">
    <div class="vignette"></div>
    <img src="{{ asset('images/placeholder.png') }}" alt="Placeholder Image">

    <ion-icon class="favorite" name="heart"></ion-icon>
        <div class="card-text">
            <div class="bold uppercase">Title</div>
            <div>100€ • Paris (75)</div>
        </div>
    </a>

        <a class="card" href="#">
    <div class="vignette"></div>
    <img src="{{ asset('images/placeholder.png') }}" alt="Placeholder Image">

    <ion-icon class="favorite" name="heart"></ion-icon>
        <div class="card-text">
            <div class="bold uppercase">Title</div>
            <div>100€ • Paris (75)</div>
        </div>
    </a>

        <a class="card" href="#">
    <div class="vignette"></div>
    <img src="{{ asset('images/placeholder.png') }}" alt="Placeholder Image">

    <ion-icon class="favorite" name="heart"></ion-icon>
        <div class="card-text">
            <div class="bold uppercase">Title</div>
            <div>100€ • Paris (75)</div>
        </div>
    </a>



{% endblock %}
