<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        <div id="top-anchor"></div>

        <a href="#top-anchor" id="arrow-top">
            <ion-icon class="big-icon" name="arrow-up-circle"></ion-icon>
        </a>

        <div class="popup-menu"></div>

        <header>
            <div>
                <ion-icon name="menu-outline"></ion-icon>
                <a href="{{ path('app_home') }}">LOGO ACCUEIL</a>
            </div>
            <div>
            <ion-icon class="blue" name="search-outline"></ion-icon>
            <a href="{{ path('app_category_index') }}">
                <ion-icon class="violet" name="list-outline"></ion-icon>
            </a>
            {% if app.user %}
            <ion-icon class="yellow" name="star-outline"></ion-icon>
            {% endif %}


            {% if app.user %}
                <a href="{{ path('app_user_edit') }}">
                    <ion-icon class="green" name="person-outline"></ion-icon>
                </a>
            {% else %}
                <a href="{{ path('app_login') }}">
                    <ion-icon class="red" name="person-outline"></ion-icon>
                </a>
            {% endif %}
            
            </div>
        </header>

        <div class="container">
        {% block body %}{% endblock %}
        </div>

        <footer>Contact</footer>

        <script src="{{ asset('js/app.js') }}"></script>
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    </body>
</html>
